[#assign sql='select count(*) from CMS_INFO_DETAIL a ,CMS_INFO b where a.f_info_id=b.f_info_id ' /]

[#if Param.title?exists && Param.title !='']
	[#assign title = Param.title]
	[#assign title = title?replace("(?:')|(?:--)|(/\\*(?:.|[\\n\\r])*?\\*/)|(\\b(select|update|and|or|delete|insert|trancate|char|into|substr|ascii|declare|exec|count|master|into|drop|execute)\\b)",'','r') /]
    [#assign sql = sql+"and a.f_title='"+title+"' " /]
[/#if] 
[#if Param.nodeid?exists && Param.nodeid !='']
	[#assign nodeid = Param.nodeid]
	[#assign nodeid = nodeid?replace("(?:')|(?:--)|(/\\*(?:.|[\\n\\r])*?\\*/)|(\\b(select|update|and|or|delete|insert|trancate|char|into|substr|ascii|declare|exec|count|master|into|drop|execute)\\b)",'','r') /]
    [#assign sql = sql+"and b.f_node_id = '"+nodeid+"' " /]
[/#if]
[#if Param.action?exists && Param.action != 'save.do' && Param.infoid?exists && Param.infoid!='']
	[#assign infoid = Param.infoid]
	[#assign infoid = infoid?replace("(?:')|(?:--)|(/\\*(?:.|[\\n\\r])*?\\*/)|(\\b(select|update|and|or|delete|insert|trancate|char|into|substr|ascii|declare|exec|count|master|into|drop|execute)\\b)",'','r') /]
   	[#assign sql = sql+"and a.f_info_id <> '"+infoid+"'" /]
[/#if]
[@Query sql=sql;list]
[#list list as bean]
    [#if bean = 0]true[#else]false[/#if]
[/#list]
[/@Query]